@model Deeneme2.Models.TravelForm

<h2>Latest Travel Form</h2>

<div>
    <h4>Id</h4>
    <p>@Model.Id</p>

    <h4>Travel Start Date</h4>
    <p>@Model.TravelStartDate</p>

    <h4>Travel End Date</h4>
    <p>@Model.TravelEndDate</p>

    <h4>Country</h4>
    <p>@Model.Country</p>

    <!-- Diğer alanlar -->
</div>
